<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <div>
        <form method="post" action="/users/login">
            <p> Email : <input type="text", placeholder="abc@example.com" required name="email"></p>
            <p>password : <input type="text", placeholder="password" required name="password"></p>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>